
			[loader] {
				position: fixed;
				display: flex;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #fff;
				text-align: center;
				z-index: 1111111111;
			}
			[loader].hide {
				display: unset !important;
				animation: hideLoader 0.4s ease-in;
				animation-fill-mode: forwards;
				transform: translateY(0);
			}
			@keyframes hideLoader {
				0% {
					transform: translateY(0);
				}
				99% {
					transform: translateY(-100%);
				}
				100% {
					transform: translateY(-100%);
					z-index: -11111;
				}
			}
			[loader] .content {
				display: flex;
				flex-direction: column;
				min-height: 100%;
				width: 100%;
				max-width: 600px;
				padding: 40px;
				margin: auto;
			}
			[loader] .content [brand] {
				margin: auto;
				width: 100%;
			}
			[loader] .content [brand] .logo {
				margin-bottom: 40px;
				width: calc(54% + (50 - 54) * ((100vw - 36rem) / (100 - 36)));
			}
			[loader] .content [brand] .title,
			[loader] .content [brand] .subtitle {
				font-size: calc(1.6rem + (2 - 1.6) * ((100vw - 36rem) / (100 - 36)));
			}
			[loader] .content .loaderContainer {
				text-align: left;
				width: 150px;
				height: 8px;
				background: #ebebeb;
				border-radius: 20px;
				margin: 0 auto;
				padding: 2px 1px;
				overflow: hidden;
				font-size: 0;
			}
			[loader] .content .box {
				width: 15px;
				height: 100%;
				background: #6c6c6c;
				border-radius: 50px;
				display: inline-block;
				margin-right: 2px;
				animation: loader 2s infinite;
				animation-timing-function: linear;
			}
			@keyframes loader {
				0% {
					transform: translate(-30px);
				}
				100% {
					transform: translate(180px);
				}
			}
		